img {
    border-radius: 50%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    /* padding-top: 150px; */
    background: radial-gradient(circle, rgba(226,0,255,1) 0%, rgba(239,192,39,1) 28%, rgba(230,52,196,1) 46%, rgba(241,226,0,1) 58%, rgba(251,61,0,1) 68%, rgba(243,199,0,1) 87%, 
    rgba(255,0,0,0.6951155462184874) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 98.1vh;   
}